<div class='container dashboard'>
	<div class='trngbox'>
      <div class="row ">
      	  <div class='col-md-6'>
      	  	<span class="label label-primary font-size-15">Training Name&nbsp;&nbsp;</span> Test
      	  </div>
      	  <div class='col-md-6'>
      	  	<span class="label  label-success font-size-15">Tutor Name&nbsp;&nbsp;</span> Test
      	  </div>
      </div>
      <div class="row margin-top-10">
      	 <div class="col-md-12 well">
      	 	I am description of the training going on .
      	 </div>
      </div>
    </div>
</div>