<div>
	<div class="row panel-heading">
		<div class="col-md-1">
			Course:
		</div>
		<div class="col-md-2">
			<input type="text" name="tutorName">
		</div>
		<div class="col-md-1">
			Duration:
		</div>
		<div class="col-md-2">
			<input type="text" name="tutorQual">
		</div>
		<div class="col-md-1">
			Fees:
		</div>
		<div class="col-md-2">
			<input type="text" name="tutorName">
		</div>		
	</div>
	<div class="row panel-body">		
		<div class="col-md-2">
			<button>Add</button>
			<button>Reset</button>
		</div>
	</div>
</div>