<div ng-form='tutorform'>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<div class="row">
					<div class="col-md-2">
			   			<label for="usr"><star-symbol></star-symbol>Name:</label>
			   		</div>
			   		<div class="col-md-8">
			   			<div ng-messages='tutorform.tutorName.$error' ng-if='tutorform.tutorName.$touched'>
                        	<div  class='redClr' ng-message="required"> <b>This field is mandatory</b></div>
                        </div>
					</div>
				</div>
			   <input type="text" name="tutorName" class="form-control"  ng-model='tutorObj.tutorName' ng-required=true >
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<div class="row">
					<div class="col-md-2">
			  			<label for="usr"><star-symbol></star-symbol>Qualification:</label>
			  		</div>
			  		<div class="col-md-8">
						<div ng-messages='tutorform.qualification.$error' ng-if='tutorform.qualification.$touched'>
                        	<div  class='redClr' ng-message="required"> <b>This field is mandatory</b></div>
                        </div>
			  		</div>
				</div>
			  <input type="text" name="qualification" class="form-control" ng-model='tutorObj.qualification' ng-required=true>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<div class="row">
					<div class="col-md-2">
			   			<label for="usr"><star-symbol></star-symbol>E-Mail:</label>
					</div>
					<div class="col-md-8">
						<div ng-messages='tutorform.email.$error' ng-if='tutorform.email.$touched'>
                        	<div  class='redClr' ng-message="required"> <b>This field is mandatory</b></div>
                    	</div>
                    	<div ng-messages='tutorform.email.$error' ng-if='tutorform.email.$error.email'>
                        	<div class="redClr" ng-show="tutorform.email.$error.email">
        					<b>Not valid email</b></div>
                        </div>
					</div>
				</div>
			  <input type="email" name="email" class="form-control" ng-model='tutorObj.email' ng-required=true>
		    </div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<div class="row">
					<div class="col-md-2">
			   			<label for="usr"><star-symbol></star-symbol>Phone:</label>
			   		</div>
			   		<div class="col-md-8">
						<div ng-messages='tutorform.phone.$error' ng-if='tutorform.phone.$touched'>
                        	<div  class='redClr' ng-message="required"> <b>This field is mandatory</b></div>
                    	</div>
                    	<div ng-messages='tutorform.phone.$error' ng-if='tutorform.phone.$error.pattern'>
                        	<div class="redClr" ng-show="tutorform.phone.$error.pattern">
        					<b>Not valid Phone Number</b></div>
                        </div>
			   		</div>
				</div>
			  <input type="text" name="phone" class="form-control" ng-model='tutorObj.phone' ng-pattern="phoneNumbr">
		    </div>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-primary" ng-click='addForm(tutorform,"tutor")'>Add</button>
			<button class="btn btn-default" ng-click='resetForm(tutorform)'>Reset</button>
		</div>
	</div>
</div>