<div class='home'>
    <img class='width100 homeImage' src="{{imageUrl}}" />
        <div class="row homePods">
            <div class='col-md-6'>
                <div class="panel panel-info">
                    <div class="panel-heading green">
                        About US
                    </div>
                    <div class="panel-body">
                     <p> We work accross internet to help resources on understanding the upcoming and popular technologies.</p>
                    </div>
                </div>
            </div>
            <div class='col-md-6'>
                <div class="panel panel-info">
                    <div class="panel-heading thickBlue">
                        Cotact US
                    </div>
                    <div class="panel-body">
                        <p>
                            email: test@test.com mobile: 1234567890
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>