<div class='training'>
    <div class="panel panel-info trngpod">
        <div class="panel-heading">Add/Update Training</div>
        <div class="panel-body">
           <form name='trngForm'>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                        <label for="usr"><star-symbol></star-symbol>  Training Name:</label>
                        </div>
                        <div class="col-md-6">
                        <div ng-messages='trngForm.trngName.$error' ng-if='trngForm.trngName.$touched'>
                        	<div  class='redClr' ng-message="required"> <b>This field is mandatory</b></div>
                            <div  class='redClr' ng-message="maxlength"><b> Max Length exceeded</b></div>
                        </div>
                        </div>
                        </div>
                        <input type="text" class="form-control" ng-model='trngObj.trngName' name='trngName' ng-required=true ng-maxlength=100>                        
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="usr"><star-symbol></star-symbol>Tutor Name:</label>
                            </div>
                            <div class="col-md-6">                                
                                <div ng-messages='trngForm.tutorName.$error' ng-if='trngForm.tutorName.$touched'>
                                    <div  class='redClr' ng-message="required"> <b>This field is mandatory</b></div>
                                    <div  class='redClr' ng-message="maxlength"><b> Max Length exceeded</b></div>
                                </div>
                            </div>
                        </div>
                        <input type="text" class="form-control" ng-model='trngObj.tutorName' 
                        name='tutorName' ng-required=true ng-maxlength=100>
                    </div>                     
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1">
                                <label for="comment"><star-symbol></star-symbol>Description:</label>
                            </div>
                            <div class="col-md-6">                                
                                <div ng-messages='trngForm.description.$error' ng-if='trngForm.description.$touched'>
                                    <div  class='redClr' ng-message="required"> <b>This field is mandatory</b></div>
                                    <div  class='redClr' ng-message="maxlength"><b> Max Length exceeded</b></div>
                                </div>
                            </div>
                        </div>
                        <textarea class="form-control" rows="5" ng-model='trngObj.description' 
                        name='description' ng-required=true ng-maxlength=100></textarea>                         
                </div>
            </div>
            <div class='row margin-top-10'>
            	<div class='col-md-1'>
            		<button type="button" class="btn btn-primary" ng-click='saveForm(trngForm)'>Save
            		</button>
            	</div>
            	<div class='col-md-1'>
            		<button type="button" class="btn btn-default" ng-click='resetForm(trngForm)'>Reset</button>
            	</div>
            </div>
           </form>
        </div>
    </div>
</div>

