<div class='training'>
    <div class="panel panel-info trngpod">
        <div class="panel-heading">Add/Update Training</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="usr">Training Name:</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="usr">Tutor Name:</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comment">Description:</label>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class='row'>
            	<div class='col-md-1'>
            		<button type="button" class="btn btn-primary">Save</button>
            	</div>
            	<div class='col-md-1'>
            		<button type="button" class="btn btn-default">Reset</button>
            	</div>
            </div>
        </div>
    </div>
</div>