body{
    font-family: cursive;
  
}
.mainContainer {
    box-shadow: 0 0 30px black;
    padding: 0px;
    margin-top:15px;
    margin-bottom: 15px;
}

.headerbrand {
	color: #FFF !important;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
.footer {
	background-color: #222;
	height: 50px;
	color: #FFF;
	padding: 10px;
}
.navHeaders{
	color: #fff !important;
	font-size: 20px !important;
	font-style: italic;
}

.active {
	border-bottom-style: solid;
    border-bottom-color: red;
}

.myDiv{
	background-color: #337ab7!important;
	color: #fff!important;	
	padding: 10px;	
	border-color: #337ab7;
}
.myMainDiv{		
    height: 100;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    display: block;
    border-color: #337ab7;
}
.myContentDiv{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    padding: 15px;
    box-sizing: border-box;
}

.red {
    background-color: red;
    color: white;
}
.blue{
    background-color: blue;
    color: white;
}
.green{
    background-color: #8BC34A !important;
    color: #fff !important;
}
.thickBlue {
    background-color:  #00BCD4 !important;
    color: #fff !important;
}
.navbar-inverse {
    background-color: #3c8dbc;
    border-color: #080808;
}
.redClr{
    color: red;
}