.mainContainer {
	margin-left: 30px;
	margin-right: 30px;
}

.headerbrand {
	color: #FFF !important;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
.footer {
	background-color: #222;
	height: 50px;
	color: #FFF;
	padding: 10px;
}
.navHeaders{
	color: #fff !important;
	font-size: 20px !important;
	font-family: verdana;
	font-style: italic;
}

.active {
	border-bottom-style: solid;
    border-bottom-color: red;
}
.width100 {
	width: 100%;
}
